<footer>
 {{>head}}
 <center>
<h3 align="Center"> Footer by using Partials </h3>
    <table class="table table-responsive table-bordered">
     <tr>
      <th align="Center"> Section </th>
      <th align="Center"> Group </th>
     </tr>
     <tr align="Center">
      <td> D1703 </td>
      <td> G2 </td>
     </tr>
    <table>
 </center>
</footer>
