<html>
  <head>
    {{>head}}
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

  </head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark align-items-center">
  <a class="navbar-brand" href="#">Arpit Project</a>
 

  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link " href="../">Home</a>
      </li>
     <li class="nav-item active">
        <a class="nav-link bg-info" href="../class">Schedule Class</a>
      </li>       
        
         <li class="nav-item">
        <a class="nav-link" href="../cancel">Cancelled Class</a>
      </li> 
      <li class="nav-item ">
      <a href="../update" class="nav-link">Updation Page</a>
        </li> 
      </ul>
      </div>
      </nav>
{{>header}}

<h2>Teacher's Time Table</h2>

<table>
  <tr>
    <th>Subject</th>
    <th>Teacher Name</th>
    <th>Time</th>
    <th>Class Alloted</th>
  </tr>
  <tr>
    <td>Cap 906</td>
    <td>Urmila Mam</td>
    <td>09:00-10:00</td>
    <td>38-801</td>
  </tr>
  <tr>
    <td>Cap 126</td>
    <td>Rohit Sir</td>
    <td>10:00-11:00</td>
    <td>38-605a</td>
  </tr>
  <tr>
    <td>Cap 919</td>
    <td>Mandeep mam</td>
    <td>03:00-05:00</td>
    <td>38-708</td>
  </tr>
  <tr>
    <td>Cap 918</td>
    <td>Anjali mam</td>
    <td>03:00-05:00</td>
    <td>38-802</td>
  </tr>
  <tr>
    <td>INT888</td>
    <td>Swati Mam</td>
    <td>12:00-01:00</td>
    <td>38-704</td>
  </tr>
  <tr>
    <td>Bsl124</td>
    <td>Disha Mam</td>
    <td>01:00-02:00</td>
    <td>38-702</td>
  </tr>
</table>
{{>footer}}
</body>
</html>