<html>
 <head>
     {{>head}}
 </head>
 <body>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark align-items-center">
  <a class="navbar-brand" href="#">Arpit Project</a>
 

  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link bg-info" href="../">Home</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="../class">Schedule Class</a>
      </li>       
        
         <li class="nav-item">
        <a class="nav-link" href="../cancel">Cancelled Class</a>
      </li> 
      <li class="nav-item ">
      <a href="../update" class="nav-link">Updation Page</a>
        </li> 
      </ul>
      </div>
      </nav>
      <br>
      <br>
      {{>header}}
      <img src="https://img.wallpapersafari.com/desktop/1920/1080/42/51/V8WplX.jpg" width="1500px">
<br><br><br><br>
{{>footer}}
 </body>
</html>